/* Style Resources */
    /* FONTS */
    /* font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Iceland', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Unica One', cursive; */

    /* COLORS */
    /* #384D48 = Dark Slate Gray
    #6E7271 = Nickel
    #ACAD94 = Laurel Green
    #D8D4D5 = Light Gray
    #E2E2E2 = Plantinum */
* {
  /* border: red 2px solid; */
 }


html {
  width: 100%;
  height: 100%;
  background: url('../images/back-ground.png') no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;

}
body {
  width: 100%;
  height: 100%;
  font-family: 'Baumans', sans-serif;
  display: flex;
  flex-direction: column;
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  /* background-image: url('../src/images/back-ground.png'); */
}
header {
  /* background: #384D48; */
  height: 90px;
  width:100%;
  position: fixed;
  top: 0;

}

main {
  height:100%;
  width:100%;
  /* background: #ACAD94; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Iceland', sans-serif;
  font-size: 2.3vw;
}

h2 {
  font-family: 'Iceland', sans-serif;
  /* font-size: 1.85vw; */
}

.logo {
  height: 8vw;
  margin-top: 15px;
}

.top-nav {
  background-color: #414833;
  padding: 1vw;
  margin: none;
  color: #E2E2E2;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;

  /* height: 90%; */
  /* border-radius: 10px; */

 }

.alert {
  background-color: #99582a;
/* #ACAD94 */

  height: 4vw;
}

.top-nav-options{
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: flex-end
}

.top-nav-text{
  font-family: 'Iceland', sans-serif;
  font-size: 2.3vw;
  color: #E2E2E2;
  text-decoration: none;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  background: none;
	border: none;
	padding: 0;
  cursor: pointer;
}

.top-nav-text:hover {
  background-color: #333D29;
  padding: 4px;
  border-radius: 5px;
}
.active {
  color: #c1b7ae;
  padding: 4px;
  border-radius: 5px;
}

.button {
  font-family: 'Baumans', sans-serif;
  background-color: #ada4a0;
  font-size: 1vw;
  padding: 2px;
  border-radius: 5px;

}

.bookings-dashboard-background {
  /* border: blue 2px solid; */
  width: 100%;
  height: 100%;
  background-color: #f8f1e5;
  opacity:.79;
  position: relative;
  z-index: 0;
  border-radius: 5px;
}

.bookings-dashboard-wrapper {
  /* border: green 3px solid; */
  width: 80%;
  height: 85%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bookings-dashboard, .book-room {
  border: red 2px solid;
  z-index: 1;
  position: absolute;
  width: 70%;
  height: 70%;
  overflow-y: scroll;
}

.plan-trip-area {
  border: yellow 3px solid;
}

.book-trip-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.booking-preview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: #ACAD94;
    color: white;
    border-radius: 3px;
    margin: 3px;
    padding: 2px;
    width: 95%;
  }

  p::first-letter {
    text-transform: capitalize;
  }


  .available-rooms-wrapper {
    display:flex;
    flex-direction: row;

  }

  .bookings-text {
    background-color: #2d2e2e;
    color: #E2E2E2;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
    width: 98%;
  }
/* .book-room {
    z-index: 1;
    position: absolute;
    width: 70%;
    height: 70%;
    overflow-y: scroll;
    all of this is duplicated above

} */
  .no-bookings-message {
    background-color: #ada4a0;
    color: #E2E2E2;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
    width: 98%;
  }

  .bookings-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

.hidden {
  display: none;
}
