body {
  /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
  background: #534F4F;
}

button {
  /* background-color:; */
  cursor: pointer;
}

.logo {
  height: 85px;
}
